<form action="/play">
    <input type="checkbox" name="isBlackBot">should Black be a bot<br />
    <input type="checkbox" name="isWhiteBot">should White be a bot<br />
    <input type="checkbox" name="autoReplay">should Auto Replay<br /><br />
    <input type="submit" value="start">
</form>