<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/design.css">
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>